html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

/* ************************  NAVBAR ********************************* */
.nav-link {
  border-bottom: 3px solid rgb(33, 37, 41);
}

.navbar-nav>li>a:hover {
  border-bottom: 3px solid white !important;
  transition: border-bottom 0.5s ease-in-out;
}

/* ************************  Typed Text ********************************* */
.head {
  height: 100vh;
  padding-top: 100px;
}

.typed-text {
  font-size: 45px;
}

/* ************************  Header tech stack ********************************* */
.tech-stack,
.vertical {
  font-size: 30px;
  margin-top: 14px;
}

.hero-profile{
  padding-left: 30px;
}

.tech-box:hover {
  border-bottom: 10px solid white;
  cursor: pointer;
  transition: border-bottom .5s ease;
}

/* ************************  about section ********************************* */
.about {
  height: 80vh;
}

.border-about {
  padding: 20px;
  background-color: #eeeeee;
  margin-left: -40px;
  margin-right: -40px;
}

.border-about h2 {
  font-size: 40px;
}

.border-about p {
  font-size: 20px;
}

/* ************************  Project section ********************************* */

.project-section{
  height: 80vh;
  background-color: #eeeeee;
  padding: 20px;
}

/* ************************  Contact section ********************************* */

.form-section{
  height: 80vh;
  background-color: #eeeeee;
  margin-top: 100px;
  padding: 20px;
}